<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<classPathEntry location="D:/mysql-connector-java-5.1.39.jar" />

	<context id="test_mybatis_generator" targetRuntime="MyBatis3">
		<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
		
		<!-- 使用外面的 plugin, https://github.com/dcendents/mybatis-generator-plugins -->
		<!-- 
		<plugin type="com.github.dcendents.mybatis.generator.plugin.annotation.AddClassAnnotationsPlugin">
    		<property name="annotationClass" value="org.apache.ibatis.annotations.Mapper" />
    		<property name="annotationString" value="@Mapper" />
		</plugin>
		-->
		
		<!-- 尚未完成, 等好了再打開 -->
		<!-- 外面的不好用, 改用自己寫的 -->
		<plugin type="util.plugin.AddMapperAnnotationPlugin">
    		<property name="import-class" value="org.apache.ibatis.annotations.Mapper" />
    		<property name="annotation-string" value="@Mapper" />
		</plugin>
		
		<!-- 防止生成的程式有很多難看的註解 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
			<property name="suppressDate" value="true" />
		</commentGenerator>
		
		<jdbcConnection 
			driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/testing?characterEncoding=utf8" 
			userId="tommy"
			password="7Kcr4iv3" />

		<!-- [IMPORTANT] targetProject 似乎一定得寫絕對路徑, trace soruce code 後的結果, 有換環境記得調整 -->
		<javaModelGenerator 
			targetPackage="com.exfantasy.template.mybatis.model"
			targetProject="D:/TommyWs/WebTemplate/src/main/java">

			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- 這個只有當 javaClientGenerator 為 XML 時才有會有 -->
		<sqlMapGenerator 
			targetPackage="sqlmappers" 
			targetProject="D:/TommyWs/WebTemplate/src/main/resources">

			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- type 可以有很多種, 參考 http://www.mybatis.org/generator/configreference/javaClientGenerator.html# -->
		<javaClientGenerator 
			type="ANNOTATEDMAPPER"
			targetPackage="com.exfantasy.template.mybatis.mapper" 
			targetProject="D:/TommyWs/WebTemplate/src/main/java">

      		<property name="enableSubPackages" value="true" />
    	</javaClientGenerator>
		
		<table schema="testing" tableName="user" domainObjectName="User"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="true"
			selectByExampleQueryId="false">
			
			<!-- insert 時取得最後一筆 autoincreament 的值, identity 要設成 true, 請參考下面網址 -->
			<!-- http://www.mybatis.org/generator/configreference/generatedKey.html -->
			<generatedKey column="user_id" sqlStatement="MySql" identity="true" />
			
			<!-- 使欄位會根據 typeHandler 來處理 DB 的值 -->
			<columnOverride column="enabled" javaType="boolean" typeHandler="com.exfantasy.template.typehandler.BooleanTypeHandler" />
		</table>
		
		<table schema="testing" tableName="user_roles" domainObjectName="UserRole"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="true"
			selectByExampleQueryId="false">
		</table>
	</context>
</generatorConfiguration>