<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>$$$ Earn Money $$$</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Bootstrap -->
	<link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
	
	<!-- Specific -->
	<link href="css/style/specific/register.css" rel="stylesheet" type="text/css" />
	
	<!-- Website Font style -->
	<!-- FIXME 抓下來的 font-awesome.min.css 會不能顯示每個欄位前面的小圖, 再看看是怎麼一回事, 好像是版本不一樣 -->
	<!-- <link href="css/lib/font-awesome/font-awesome.min.css" rel="stylesheet" /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- 參考 http://bootsnipp.com/snippets/featured/register-page -->
	<div class="container">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 class="title">註冊資訊</h1>
					<hr />
				</div>
			</div>

			<div class="main-login main-center">
				<form class="form-horizontal" method="post" action="#">
					<!-- 
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Your Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
							</div>
						</div>
					</div>
 					-->

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope fa" aria-hidden="true"></i>
								</span>
								<input type="text" class="form-control" name="email" id="email" placeholder="請輸入您的 Email" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="mobileNo" class="cols-sm-2 control-label">手機號碼</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-phone fa" aria-hidden="true"></i>
								</span>
								<input type="text" class="form-control" name="mobileNo" id="mobileNo" placeholder="請輸入您的手機號碼" />
							</div>
						</div>
					</div>

					<!-- 
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-users fa" aria-hidden="true"></i>
								</span>
								<input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
							</div>
						</div>
					</div> 
					-->

					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">登入密碼</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
								</span>
								<input type="password" class="form-control" name="password" id="password" placeholder="請輸入您的登入密碼" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="confirm" class="cols-sm-2 control-label">密碼確認</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
								</span>
								<input type="password" class="form-control" name="confirm" id="confirm" placeholder="請再次輸入您的登入密碼" />
							</div>
						</div>
					</div>

					<div class="form-group ">
						<button type="button" class="btn btn-primary btn-lg btn-block login-button" id="registerBtn">註冊</button>
					</div>

					<div class="login-register">
						<a th:href="@{/home}">登入</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="js/lib/jquery/jquery-3.1.0.min.js"></script>
	<script src="js/lib/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#registerBtn").on("click", handleSubmitForm);
		});
		
		var handleSubmitForm = function() {
			$.ajax({
				url: "/user/do_register",
				type: "POST",
				dataType: "json",
				data: {
					"email": $("#email").val(),
					"password": $("#password").val()
				},
				success:function(JR) {
					alert('success');
				},
				error:function(JR) {
					alert('error');				
				}
			});
		}
	</script>
</body>
</html>