<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>My HYIP</title>
        
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta name="renderer" content="webkit" />
    	
    	<!-- this page specific style -->
        <link rel="stylesheet" href="css/style/examples/login/first_login.css" />
    </head>

    <body>
        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
        	<header>Login</header>
            <label>Email <span>*</span></label>
            <input type="text" name="email"/>
            <div class="help">At least 6 character</div>
            <label>Password <span>*</span></label>
            <input type="password" name="password"/>
            <div class="help">Use upper and lowercase lettes as well</div>
            <!-- <input type="submit" value="Sign In"/> -->
            <button type="submit">Login</button>
        </form>
    </body>
</html>